/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2022, 8:13:57 PM
    Author     : KiThuat 88
*/
body{
    height: 100vh;
    font-size: 200%;
    font-weight: bold;
}

.container{
    border: 1px solid black;
    padding: 0 2% 2%;
    margin: 0 auto;
    width: 50%;
    justify-content: center;
}

.title{
    text-align: center;
    font-size: xx-large;
}

.display{
    display: flex;
    width: 100%;
    background: aliceblue;
}

.display > .score ,.level {
   width: 50%;
   display: flex;
}

.count-down{
    background: hotpink;
    height: 10px;
    max-width: 100%;
    width: 100%;
    /*transition: width 1s ease-out;*/
}

.calculator{
    background: lightblue;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.result{
    background: lightgreen;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.confirm{
    display: flex;
    width: 100%;
    justify-content: center;
}

.btnagree, .btndeny{
    width: 71px;
    display: flex;
    padding: 3% 3%;
    margin: 2% 10% 0 10%; 
    justify-content: center;
    border: 1px solid black;
    border-radius: 15%;
}

.btnagree , .btndeny :hover{
    cursor: pointer;
}

#btnStart{
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
}

img{
   display: block;
  width: 100%;
  height: auto;
}

img :hover{
    opacity: 0.8;
}